<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <servlet>
    <description></description>
    <display-name>CadastrarPessoaServlet</display-name>
    <servlet-name>CadastrarPessoaServlet</servlet-name>
    <servlet-class>br.com.zitrus.servlet.CadastrarPessoaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarPessoaServlet</servlet-name>
    <url-pattern>/CadastrarPessoa</url-pattern>
  </servlet-mapping>
  <display-name>zitrus-test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CadastrarClienteServlet</display-name>
    <servlet-name>CadastrarClienteServlet</servlet-name>
    <servlet-class>br.com.zitrus.servlet.CadastrarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarClienteServlet</servlet-name>
    <url-pattern>/CadastrarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarClientesServlet</display-name>
    <servlet-name>ListarClientesServlet</servlet-name>
    <servlet-class>br.com.zitrus.servlet.ListarClientesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarClientesServlet</servlet-name>
    <url-pattern>/ListarClientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditarClienteServlet</display-name>
    <servlet-name>EditarClienteServlet</servlet-name>
    <servlet-class>br.com.zitrus.servlet.EditarClienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditarClienteServlet</servlet-name>
    <url-pattern>/EditarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarProcedimentosServlet</display-name>
    <servlet-name>ListarProcedimentosServlet</servlet-name>
    <servlet-class>br.com.zitrus.servlet.ListarProcedimentosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProcedimentosServlet</servlet-name>
    <url-pattern>/ListarProcedimentosServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastrarProcedimentoServlet</display-name>
    <servlet-name>CadastrarProcedimentoServlet</servlet-name>
    <servlet-class>br.com.zitrus.servlet.CadastrarProcedimentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastrarProcedimentoServlet</servlet-name>
    <url-pattern>/CadastrarProcedimento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutorizarProcedimentoServlet</display-name>
    <servlet-name>AutorizarProcedimentoServlet</servlet-name>
    <servlet-class>br.com.zitrus.servlet.AutorizarProcedimentoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutorizarProcedimentoServlet</servlet-name>
    <url-pattern>/AutorizarProcedimento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListarAutorizacaoProcedimentosServlet</display-name>
    <servlet-name>ListarAutorizacaoProcedimentosServlet</servlet-name>
    <servlet-class>br.com.zitrus.servlet.ListarAutorizacaoProcedimentosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarAutorizacaoProcedimentosServlet</servlet-name>
    <url-pattern>/listarAutorizacaoProcedimentos</url-pattern>
  </servlet-mapping>
</web-app>